<h3><%= @list.name %></h3>

<div class = "btn btn-warning">
<%= link_to "Delete this list",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}

%>
</div>
<div><%= link_to 'Add Movie', new_list_bookmark_path(@list)%></div>
<br>



<ul><% @list.movies.each do |movie| %>
      <li>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <%= movie.title %>
        <%= movie.rating %>
        <%= movie.overview %>
        <%= bookmark.comment %>
      </li>
       <%= link_to 'delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
    <% end %>
</ul>

<%= link_to "Back to all lists", lists_path %>
